.item-section_titulo{
    font-size: 1.4rem;
    text-align: center;
    width: fit-content;
    margin: 40px auto 40px;
    padding: 0;
    font-weight: bold;
}
.centered-form{
    display: flex;
    justify-content: center;
}
.dose-window{
    padding: 10px;
}