.titulo_campos{
    font-size: 1.4rem;
    text-align: center;
    width: fit-content;
    margin: 0px auto 0;
    padding: 0;
}
.card{
    margin: 15px auto;
}
.seccion_campos_btn-agr{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    margin: auto auto;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}
.seccion_campos_btn-agr p{
    font-size: 1.1rem;
}
.seccion_campos_btn-agr:hover{
    background-color: #e8e8e8;
}
.button-section_edit{
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
    padding: auto;
}
.img-edit{
    height: 30px;
    width: auto;
}
.card-img-top{
    height: 100px;
}
.campos_top-section{
    margin: 30px 0 0 0;
}
.card-deck{
    margin: 0;
}
@media (max-width: 450px){
    .titulo_campos{
        margin-top: 30px;
    }
}