.button-section_parent{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: -20px 0 0 0;
    padding: auto;
}
.seccion_cultivos_btn-agr{ 
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 10px auto 0;  
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}
.seccion_cultivos{
    margin: 20px 5% 5% 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.seccion_cultivos_checkbox-div{
    display: flex;
    margin: 20px 0 10px;
    padding: 10px 10px;
    font-size: 1.2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.seccion_cultivos_checkbox-div div{
    margin: 5px 5px;
    align-self: center;
}
.cultivos_general{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid black;
}
.cultivos_general li{
    margin: 3px 5px;
}
.card{
    padding: 0;
}
.card:hover{
    background-color: #e8e8e8;
    cursor: pointer;
}
.big-cont{
    margin: 5px 0;
    padding: 0;
}
.card-header{
    margin: 0;
    text-align: center;
    color: white;
    background-color: #1d56b3;
}
.row{
    padding: 0;
}
.cultivos_big-card{
    margin-top: 0;
}