.titulo_proximas_actividades{
    font-size: 1.2rem;
    text-align: center;
    width: fit-content;
    margin: 60px auto 5px;
    padding: 0 10px;
}
th, td{
    text-align: center
}
td{
    cursor: pointer;
}
.table-container{
    margin: 0;
    padding: 20px;
}
.thead-blue{
    background-color: #1d5693;
    color: white;
}