.pswd-card .split-line{
    height: 1px;
    width: 100%;
    background-color: black;
    margin: -15px 0 20px;
    padding: 0;
}
.pswd-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgba(20, 120, 255, 0.05);
    text-align: center ;
    border-radius: 0px;
    border-width: 0px;
    margin: 75px auto;
    padding: 0 30px 20px;
    width: 85%;
    max-width: 450px;
    border-style: solid;
    border-color: black;
    font-size: 1.3rem;
}
.pswd-card h1{
    font-weight: 400;
}
.pswd-card_form{
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.pswd-card_form div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}
.pswd-card_form div label{
    width: fit-content;
    height: fit-content;
}
.pswd-card_form div input{
    height: 30px;
    max-width: 150px;
    margin: 0 10px;
    padding: 0 5px ;
    font-size: 1rem;
    border-radius: 10px;
    background-color: hsl(240, 10%, 90%);
    align-self: flex-end;
    flex-shrink: 1;
}
#wrong-pswd_message{
    margin: 0 auto 15px;
}
.wrong-pswd{
    color: red;
    font-size: 1rem;
    margin: 0px auto;
    visibility: hidden;
}
.button-section{
    gap: 5px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}
.button-section button{
    height: fit-content;
    min-width: 200px;
    font-size: 1.3rem;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(160deg, #80B0F1, #80C0F7);
}
.pswd-card_form button:hover{
    transition: .2s;
    transform: scale(1.01);
}
.pswd-card_form button:active{
    transition: .2s;
    box-shadow: inset 0 0 0px 30px hsl(240, 60%, 80%);
}