.user-list_header{
    font-size: 1.7rem;
    text-align: center;
    align-self: center;
    width: fit-content;
    margin: 50px auto 10px;
    padding: 0;
    font-weight: 400;
}
.button_section_parent{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.seccion_user_btn-agregar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    margin: 0 20px;
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
}
.img-circ{
     height: 30px;
    width: auto;
}
.table-container{
    margin: 0 auto;
}